<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/users}" th:object="${user}">
    <p>  CREATE NEW USER in DATABASE: </p>
    <label for="name"> Enter Name </label>
    <input type="text" th:field="*{name}" required id="name"/>
    <br/>
    <label for="age"> Enter Age </label>
    <input type="text" th:field="*{age}" required id="age"/>
    <br/>
    <label for="city"> Enter City </label>
    <input type="text" th:field="*{city}" required id="city"/>
    <br/>
    <label for="password"> Enter Password  </label>
    <input type="text" th:field="*{password}" required id="password"/>
    <p>  Select roles:
        <td>
            <th:block th:each="role : ${rolesList}">
            <input type="checkbox" name="rolesIdArr"  th:value="${role.id}"/>
            <label th:text="${role.name}"></label>
            </th:block>
        </td>
    <p>

    <hr/>
    <input type="submit" value="Create!"/>
    <hr/>
    <a href="/admin/users">Back to List</a>
    <br/>
    <a th:href="@{/logout}">Logout</a>
</form>
</body>
</html>
