<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>USER DETAILS</title>
</head>
<body>

<form th:method="GET" th:action="@{user/{id}(id=${user.getId()})}" th:object="${user}">
    <p>  USER DETAILS: </p>
    <p>  Name: <a th:text="*{name}"></a> </p>
    <p>  Age:  <a th:text="*{age}"></a> </p>
    <p>  City:  <a th:text="*{city}"></a> </p>
    <p>  Password:  <a th:text="*{password}"></a> </p>
    <p>  User roles:
    <td>
        <th:block th:each="role : *{roles}">
            <label th:text="${role.name}"></label>
        </th:block>
    </td>
    </p>

    <a href="/">Back to Root</a>
    <hr/>
    <a th:href="@{/logout}">Logout</a>
</form>
</body>
</html>

