<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Table of Users</title>
</head>
<body>
<nav class="navbar bg-dark navbar-dark fixed-top">
    <form class="form-inline">
        <strong><span class="navbar-text text-white" th:text="${user.getName()}" }></span></strong>
        <span class="navbar-text text-white">&nbspwith roles:&nbsp</span>
        <span class="navbar-text text-white"><a th:each="r: ${user.getRoles()}" th:text="${r.role}+' '"></a> </span>
    </form>
    <ul class="navbar-nav float-lg-end">
        <li class="nav-item">
            <a class="nav-link text-muted" th:href="@{/logout}">Logout</a>
        </li>
    </ul>
</nav>
<!--Конец навигационной панели-->
<div class="container-fluid bg-light">
    <div class="row">
        <!--Левый блок админ-панели-->
        <div class="col-sm-2 bg-white min-vh-100">
            <ul class="nav nav-pills flex-column"><br><br><br>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/admin}">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user}">User</a>
                </li>
            </ul>
        </div>
        <!--Конец левого блока-->
        <!--Правый блок админ панели-->
        <div class="col-sm-10 bg-light"><br><br><br>
            <p>
            <h2>Admin panel</h2>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#users_table">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#add_user">New User</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!--Блок таблицы юзеров-->
                <div class="tab-pane container-fluid active" id="users_table">
                    <div class="row">
                        <div class="col border bg-light"><p><h6>All users</h6></p></div>
                        <div class="w-100"></div>
                        <div class="col border bg-white"><br>
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th> ID </th>
                                    <th>   Name  </th>
                                    <th>   Age   </th>
                                    <th>   City  </th>
                                    <th>   Password   </th>
                                    <th>   Role  </th>
                                    <th>   Edit user   </th>
                                    <th>   Delete user   </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${userList}">
                                    <td th:text="${user.id}"></td>
                                    <td th:text="${user.username}"></td>
                                    <td th:text="${user.getAge()}"> </td>
                                    <td th:text="${user.getCity()}"> </td>
                                    <td th:text="${user.getPassword()}"> </td>
                                    <td><a th:each="role : ${user.roles}" th:text="${role.role} + ' '"></a></td>
                                    <td>
                                        <!--Модальная кнопка редактирования юзера-->
                                        <button type="button" class="btn btn-info" data-toggle="modal"
                                                th:data-target="${'#edit' + user.id}">edit
                                        </button>
                                        <!-- Модальное окно редактирования юзера -->
                                        <div class="modal" th:id="${'edit' + user.id}">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <!-- Modal Header -->
                                                    <div class="modal-header">
                                                        <h6 class="modal-title">Edit user</h6>
                                                        <button type="button" class="close" data-dismiss="modal">×
                                                        </button>
                                                    </div>
                                                    <!-- Modal body -->
                                                    <div class="modal-body">
                                                        <div class="form-group row justify-content-center align-items-center">
                                                            <form th:action="@{/admin/edit/{id}(id=${user.id})}"
                                                                  th:object="${user}" th:method="patch">
                                                                <strong><label for="editId">ID</label></strong><br>
                                                                <input type="number" class="form-control"
                                                                       th:value="${user.id}" id="editId" name="id" readonly>
                                                                <strong><label for="editName">Name</label></strong><br>
                                                                <input type="text" class="form-control"
                                                                       th:value="${user.name}" id="editName" name="name"
                                                                       required minlength="3" maxlength="20">

                                                                <strong><label for="editAge">Age</label></strong><br>
                                                                <input type="text" class="form-control"
                                                                       th:value="${user.age}" id="editAge" name="age"
                                                                       required min="1" max="99"><br>
                                                                <strong><label
                                                                        for="editCity">City</label></strong><br>
                                                                <input type="text" class="form-control"
                                                                       th:value="${user.city}" id="editCity" name="city"
                                                                       required minlength="3" maxlength="30">
                                                                <strong><label
                                                                        for="editPassword">Password</label></strong><br>
                                                                <input type="password" class="form-control"
                                                                       th:value="null"
                                                                       id="editPassword" name="password"><br>
                                                                <select multiple class="form-control w-100"
                                                                        id="editRoles" name="checked">
                                                                    <option
                                                                            th:each="role : ${roleList}"
                                                                            th:value="${role.getId()}"
                                                                            th:text="${role.getRole()}">
                                                                    </option>
                                                                </select>
                                                                <!-- Modal footer -->
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                            data-dismiss="modal">Close
                                                                    </button>
                                                                    <input type="submit" class="btn btn-info"
                                                                           value="Edit"/>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <!--Модальная кнопка удаления юзера-->
                                        <button type="button" class="btn btn-danger" data-toggle="modal"
                                                th:data-target="${'#delete' + user.id}">delete
                                        </button>
                                        <!-- Модальное окно удаления юзера -->
                                        <div class="modal" th:id="${'delete' + user.id}">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <!-- Modal Header -->
                                                    <div class="modal-header">
                                                        <h6 class="modal-title">Delete user</h6>
                                                        <button type="button" class="close" data-dismiss="modal">×
                                                        </button>
                                                    </div>

                                                    <!-- Modal body -->
                                                    <div class="modal-body">
                                                        <div class="form-group row justify-content-center align-items-center">
                                                            <form th:action="@{/delete/{id}(id=${user.id})}"
                                                                  th:object="${user}" th:method="delete">
                                                                <strong><label for="delId">ID</label></strong><br>
                                                                <input type="number" class="form-control"
                                                                       th:value="${user.id}" id="delId" name="id" readonly>
                                                                <strong><label
                                                                        for="delName">Name</label></strong><br>
                                                                <input type="text" class="form-control"
                                                                       th:value="${user.name}" id="delName" name="name" readonly>

                                                                <strong><label for="delAge">Age</label></strong><br>
                                                                <input type="text" class="form-control"
                                                                       th:value="${user.age}" id="delAge" name="age" readonly><br>
                                                                <select multiple class="form-control w-100" id="delRoles" name="roles"
                                                                        readonly>
                                                                    <strong><label
                                                                            for="delCity">City</label></strong><br>
                                                                    <input type="text" class="form-control"
                                                                           th:value="${user.city}" id="delCity" name="city"
                                                                           readonly>
                                                                    <option
                                                                            th:each="role : ${user.roles}"
                                                                            th:text="${role.getRole()}">
                                                                    </option>
                                                                </select>

                                                                <!-- Modal footer -->
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                            data-dismiss="modal">Close
                                                                    </button>
                                                                    <input type="submit" class="btn btn-danger"
                                                                           value="Delete"/>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!--Блок добавления юзера-->
                <div class="tab-pane container-fluid fade" id="add_user">
                    <div class="row">
                        <div class="col border bg-light"><p><h6>Add new user</h6></p></div>
                        <div class="w-100"></div>
                        <div class="col border bg-white text-center"><br>
                            <form th:action="@{/admin/add}" th:object="${user1}" method="post">
                                <div class="form-group row justify-content-center align-items-center">
                                    <div class="col-sm-3">
                                        <strong><label for="name">Name</label></strong><br>
                                        <input type="text" class="form-control" th:field="*{name}" id="name"
                                               placeholder="Name" required minlength="3" maxlength="20">
                                    </div>
                                </div>
                                <div class="form-group row justify-content-center align-items-center">
                                    <div class="col-sm-3">
                                        <strong><label for="age">Age</label></strong><br>
                                        <input type="number" class="form-control" th:field="*{age}" id="age"
                                               placeholder="Age" required min="1" max="99">
                                    </div>
                                </div>

                                <div class="form-group row justify-content-center align-items-center">
                                    <div class="col-sm-3">
                                        <strong><label for="city">City</label></strong><br>
                                        <input type="text" class="form-control" th:field="*{city}" id="city"
                                               placeholder="City" required minlength="3" maxlength="30">
                                    </div>
                                </div>

                                <div class="form-group row justify-content-center align-items-center">
                                    <div class="col-sm-3">
                                        <strong><label for="pwd">Password</label></strong><br>
                                        <input type="password" class="form-control" th:field="*{password}" id="pwd"
                                               placeholder="Password" required>
                                    </div>
                                </div>
                                <div class="form-group row justify-content-center align-items-center">
                                    <div class="col-sm-3">
                                        <label for="roles">Select roles:</label>
                                        <select multiple class="form-control w-100" id="roles" name="checked">
                                            <option
                                                    th:each="role : ${roleList}"
                                                    th:text="${role.getRole()}"
                                                    th:value="${role.getId()}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-success">
                                    Add new user
                                </button>
                                <br><br>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>